.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    color: #2c3e50;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;
}
.food-display-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap:30px;
    row-gap :50px;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;
    color: #2c3e50;
    
}